<div class="container">
  <div class="header">
    <h1>Browse vans</h1>
  </div>

  <div class="search-box">
    <div class="search-from">
      <h2>from</h2>
      <input class="ymd" type="date">
    </div>
    <div class="search-to">
      <h2>to</h2>
      <input class="ymd" type="date">
    </div>
  </div>

  <h3>Available vans</h3>
  <div class="custom-control custom-switch">
    <input type="checkbox" class="custom-control-input" id="customSwitch1">
    <label class="custom-control-label" for="customSwitch1">Cards view</label>
  </div>

    <div class="cards">
      <% @vans.each do |van| %>
        <%= link_to van_path(van) do %>
          <div class="van-card">
            <div class="i"><%= image_tag "van1.jpg"%></div>
            <h4><%= van.title %> - €<%= van.price %> </h4>
            <p><%= truncate(van.description, :length => 70) %> </p>
            <br>
          </div>
        <% end %>
      <% end %>
    </div>
>>>>>>> master

  <% if @cards_view%>
    <div class="card-view">
      <div class="available">
        <div class="cards">
          <% @vans.each do |van| %>
              <div class="van-card">
                <%= link_to van_path(van) do %>
                  <h4><%= van.title %> </h4>
                <% end %>
                <br>
                <p><%= truncate(van.description, :length => 70) %> </p>
                <br>
                <p><%= van.price %></p>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="map-view">
      <%= render "shared/map"%>
    </div>
  <% end %>
</div>

