<div class="container">

  <div class="header">
    <h1>Browse vans</h1>
  </div>


  <div class="search-box">
    <div class="search-from">
      <h2>from</h2>
      <input class="ymd" type="date">
    </div>
    <div class="search-to">
      <h2>to</h2>
      <input class="ymd" type="date">
    </div>
  </div>

  <h3>Available vans</h3>


    <div class="cards">
      <% @vans.each do |van| %>
        <%= link_to van_path(van) do %>
          <div class="van-card">
            <div class="i"><%= image_tag "van1.jpg"%></div>
            <h4><%= van.title %> - €<%= van.price %> </h4>
            <p><%= truncate(van.description, :length => 70) %> </p>
            <br>
          </div>
        <% end %>
      <% end %>
    </div>

</div>
