<div class="container">
  <div class="header">
    <h1>Browse vans</h1>
  </div>

  <div class="search-fields">
    <%= form_tag vans_path, method: :get, class: "search-box" do %>
      <div class="sb search-from">
        <h2>from</h2>
        <input name="date_from", class="ymd", type="date", value=<%= @date_from %>>
      </div>
      <div class="sb search-to">
        <h2>to</h2>
        <input name="date_to", class="ymd", type="date", value=<%= @date_to %>>
      </div>
      <div class="sb search-city">
        <h2>city</h2>
        <%= text_field_tag :query,
          params[:query],
          class: "ymd",
          placeholder: "My location"
        %>
      </div>
      <%= submit_tag "Search", class: "btn btn-book" %>
    <% end %>
  </div>

  <div data-controller="toggle-view">
    <div class="d-flex justify-content-between align-items-end">
      <h3>Available vans</h3>
      <button class="btn btn-toggle-view" data-action="click->toggle-view#switchView" data-toggle-view-target="button">Map view</button>
    </div>

    <div data-toggle-view-target="cards">
      <div class="cards">
        <% if @vans.empty? %>
          <p><em>There are no vans available for your search</em></p>
        <% else %>
          <% @vans.each do |van| %>
            <%= link_to van_path(van, date_from: @date_from, date_to: @date_to) do %>

              <div class="van-card">
                <div class="i">
                  <% if van.photos.length > 0 %>
                    <%= cl_image_tag van.photos.first.key, class:"img-index-card"%>
                  <% else %>
                    <%= image_tag "https://media-cdn.tripadvisor.com/media/vr-splice-j/07/a1/37/b5.jpg", class:"img-index-card" %>
                  <% end %>
                </div>
                <div class="card-info">
                  <div class="card-top-info">
                    <h4 class="card-title"><%= van.title %> </h4>
                    <p class="card-description"><%= truncate(van.description, :length => 75) %> </p>
                  </div>
                  <div class="card-bottom-info">
                    <h6><%= van.address %></h6>
                    <h4 class="card-price">€<%= van.price %></h4>
                  </div>
                </div>
              </div>

            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div data-toggle-view-target="map" class="map-area invisible">
      <%= render "shared/map" %>
    </div>
  </div>
</div>
