<%# <% if @van.id == current_user.bookings.van_id%>
<%# <% redirect_to booking_path(Booking.find())%>
<div class="container">
  <div class="van-page">
    <div class="row justify-content-between">
      <% if @van.photos.length > 0 %>
        <div data-bs-toggle="modal" data-bs-target="#exampleModal" class="col-7">
          <%= cl_image_tag @van.photos.first.key, class: "img-main col-7" %>
        </div>
      <% else %>
        <div data-toggle="modal" data-target="#exampleModal" class="col-7">
          <%= image_tag "https://media-cdn.tripadvisor.com/media/vr-splice-j/07/a1/37/b5.jpg", class: "img-main" %>
        </div>
        </button>
      <% end %>

<%# Dates Form %>
        <div class="booking-details col-4">
        <%= simple_form_for [ @van, @booking ] do |f| %>
          <div class="payment-info">
            <h4>Rental details</h6>
            <div class="booking-section">
              <h6>Pick-up date</h6>
                <%= f.input :date_from, label: false, default:@date_from%>
            </div>
            <div class="booking-section">
              <h6>Drop-off date</h6>
                <%= f.input :date_until, label: false, default:@date_to%>
            </div>
            <div class="booking-section">
              <h6>Daily rate</h6>
              <div class="total-price">
                <p> <%= @num_days %> days @ €<%= @van.price %></p>
              </div>
            </div>
          </div>

<%# Total Price Section, "BOOK" button and owner's "UPDATE" button %>
          <div class="total-book-section">
            <div class="total-price">
              <h6 class="h6-bold">Total</h6>
              <p class="p-bold">€<%= @van.price * @num_days%></p>
            </div>
            <% if policy(@van).edit? && policy(@van).destroy? && @van.bookings.length == 0 %>
              <%= link_to "Update", edit_van_path(@van) %>
              <%= link_to "Delete the van :(", van_path(@van), method: :delete %>
            <% elsif @van.user != current_user %>
              <%= f.submit "Book now", class: "btn btn-book" %>
            <% else %>
            <h6>You can't delete or update your van right now. You have some bookings oncoming! </h6>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

<%# Van Title and Description %>
    <div class="row row-bottom justify-content-between">
      <div class="van-details col-7">
        <h1><%= @van.title %></h1>
        <p><%= @van.description%></p>
      </div>

<%# Owner Inforamtion's Card %>
      <div class="owner-info col-4">
        <div class="text-inside">
          <h6 class="h6-bold">Vanner</h6>
          <h6><%= @van.user.first_name %> <%= @van.user.last_name %></h6>
          <p><%= @van.user.email %></p>
        </div>
        <%= image_tag "https://i.pinimg.com/736x/8d/82/9e/8d829ec69df2baeefb562091ed777195--happy-puppy-puppy-love.jpg", class: "avatar avatar-owner" %>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<%= render 'shared/modal_carrousel_vans', van: @van %>
