<div class="container-home">
  <div class="content-container">
    <div class="navbar-container">
    <% @skip_footer = true  %>
    <% @skip_navbar = true %>

      <%= link_to root_path do %>
        <h2 class="vl"><%= image_tag "vanners-logo.png" %></h2>
      <% end %>

      <% if user_signed_in? %>
        <h4>Hello again, <%= current_user.first_name.capitalize  %>!</h4>
      <% elsif !user_signed_in? %>
        <div class="buttons-container">
          <%= link_to "Sign in", new_user_session_path, class: "btn btn-transparent" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-yellow" %>
        </div>
      <% end %>
    </div>

    <div class="main-text">
      <h1>
        <span data-controller="typed-js"></span>
      </h1>
    </div>
    <div class="buttons-container">
      <%= link_to "Browse vans", vans_path, class: "btn btn-yellow"%>
      <% if policy(Van).create?  %>
      <%= link_to "Upload your van", new_van_path, class: "btn btn-upload" %>
      <% end %>

    </div>
  </div>
  <div class="media-container">
    <%= image_tag "van1.jpg" %>
    <%= image_tag "van2.jpg" %>
  </div>
</div>
