<div class="container-home">
  <div class="content-container">
    <div class="navbar-container">
    <% @skip_footer = true  %>
    <% @skip_navbar = true %>
      <h2>vanners</h2>
      <%= link_to "Sign in", new_user_session_path, class: "btn-transparent" %>

    </div>
    <div class="main-text">
      <h1>Rent a van, <br>
      travel the world</h1>
      <%= image_tag "van-logo.png" , class:"img-van"%>
      <%= image_tag "world-icon.png" , class:"img-world"%>
    </div>
    <div class="buttons-container">
      <a href="" class="btn-black">Browse vans</a>
      <%= link_to "Upload your van", new_van_path, class: "btn-transparent" %>
    </div>
  </div>
  <div class="media-container">
    <%= image_tag "van1.jpg" %>
    <%= image_tag "van2.jpg" %>
  </div>
</div>
